<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Name List</title>
  <link rel="shortcut icon" href="img/name.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
