<%- include('partials/header') %>

<form action="/" method="post">
    <button type="submit" name="button-register">Register</button>
    <button type="submit" name="button-login">Login</button>
</form>

<%- include('partials/footer') %>
