<%- include('partials/header') %>

<form action="/register" method="post">
    <input type="text" name="newName" placeholder="User Name">
    <input type="password" name="newPassword" placeholder="Password">
    <button type="submit" name="button-register">Register</button>
</form>

<%- include('partials/footer') %>